   .board {
     margin: auto;
     height: 748px;
	 width: 748px;
	}
   .square{
      width: 90px;
	  height: 90px;
	  display: inline-block;
	}
   .black {
      background-color: #4c4c4c;
    }
   .white {
      background-color: #efefef;
	}
	.checker {
	  width: 80px;
	  height: 80px;
	  margin: 5px;
	  border-radius: 50%;
	}
	.red-checker {
	  background-color: #ed0000;
	}
	.black-checker {
	  background-color: #191919;
	}
	.red-king-checker {
	  background-image: url("RedKing.png");
	}
	.black-king-checker {
	  background-image: url("BlackKing.png");
	}